<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>maven-test</id>
      <username>rapha149</username>
      <!-- Public token with `read:packages` scope -->
      <password>&#103;&#104;&#112;&#95;&#81;&#118;&#70;&#84;&#67;&#74;&#82;&#104;&#106;&#82;&#56;&#76;&#78;&#72;&#79;&#79;&#103;&#104;&#68;&#72;&#89;&#84;&#82;&#99;&#114;&#67;&#65;&#97;&#85;&#57;&#49;&#79;&#81;&#117;&#110;&#82;</password>
    </server>
  </servers>
</settings>
