<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>maven-publish</id>
      <username>${env.GITHUB_ACTOR}</username>
      <password>${env.GITHUB_TOKEN}</password>
    </server>
    <server>
      <id>maven-read</id>
      <username>rapha149-robot</username>
      <!-- Public token with `read:packages` scope -->
      <password>&#103;&#104;&#112;&#95;&#81;&#73;&#100;&#56;&#81;&#57;&#101;&#104;&#122;&#113;&#51;&#101;&#68;&#112;&#111;&#55;&#97;&#50;&#82;&#88;&#107;&#48;&#116;&#57;&#107;&#73;&#72;&#107;&#108;&#104;&#49;&#110;&#103;&#90;&#106;&#72;</password>
    </server>
  </servers>
</settings>
